html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color:#fff;
}

#video
{
    position: fixed;
    z-index: -99;
    width: 100%;
    height: 100%
}

#main
{
    padding: 0;
    /*background-color:#333;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#nav
{
    padding: 0;
    background-color:#333;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    opacity: 0.3;
}

.layer
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#cablecar
{
    background-image: url(cablecar.svg);
    background-size: 4000px 1080px;
    background-position: bottom -475px left -2000px;
}

#layer1
{
    background-image: url(layer1.svg);
    background-size: 4000px 1199px;
    background-position: bottom 0 left -20px;
}